{% extends "shopapp/base.html" %}
{% load cache %}

{% block title %}
  User orders list
{% endblock %}

{% block body %}
  <h1>
    {% if orders %}
      Пользователь {{ owner.username }} выполнил следующие заказы:
    {% else %}
      У пользователя {{ owner.username }} ещё нет заказов.
    {% endif %}
  </h1>
  {% cache 60 user_orders_fragment owner.pk %}
    <div>
      {% for order in orders %}
        <div>
          <h3>Order №{{ order.pk }}</h3>
          <p>Delivery address: {{ order.delivery_address }}</p>
          <p>Promocode: {{ order.promocode }}</p>
        </div>
      {% endfor %}
    </div>
  {% endcache %}
{% endblock %}